* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em sans-serif;
    color: #212121;
    background: #EEE;
    padding-top: 30px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #FFF;
    padding: 20px 10px;
}

header, main, footer {

}

a:link, a:visited {
    color: #151621;
    text-decoration: none;
}
a:hover { color: #27293d; }
a:active { color: #393d5a; }

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    float: left;

}

nav ul li a {
    padding: 5px 10px;
}

