* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em sans-serif;
    color: #212121;
    background: #EEE;
    padding-top: 30px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #FFF;
    padding: 20px 10px;
}

header, main, footer {

}

a:link, a:visited {
    color: #000027;
    text-decoration: none;
}
a:hover { color: #27293d; }
a:active { color: #393d5a; }

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    float: left;

}

nav ul li a {
    padding: 5px 10px;
}

input, textarea {
    border: 1px solid #DDD;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 5px 10px;
    margin: 3px 0;
    font: 0.9em sans-serif;
    color: #212121;
}

input:hover, textarea:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

input:focus, textarea:focus {
    border-color: #8bbbff;
}

.error {
    border-color: #ff8486;
}

.error:focus {
    border: 1px dotted red;
}